/*
---------------------------------------------------------------------------------
	STRIPPED DOWN RESUME TEMPLATE
    html resume

    v0.9: 5/28/09

    design and code by: thingsthatarebrown.com 
                        (matt brown)
---------------------------------------------------------------------------------
*/


.msg { padding: 10px; background: #222; position: relative; }
.msg h1 { color: #fff;  }
.msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
.msg a:hover { background: #266400; }

/* //-- yui-grids style overrides -- */
body { font-family: Georgia; color: #444; }
#inner { padding: 10px 80px; margin: 80px auto; background: #f5f5f5; border: solid #666; border-width: 8px 0 2px 0; }
.yui-gf { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; }

/* //-- header, body, footer -- */
#hd { margin: 2.5em 0 3em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc }
#hd h2 { text-transform: uppercase; letter-spacing: 2px; }
#bd, #ft { margin-bottom: 2em; }

/* //-- footer -- */
#ft { padding: 1em 0 5em 0; font-size: 92%; border-top: 1px solid #ccc; text-align: center; }
#ft p { margin-bottom: 0; text-align: center;   }

/* //-- core typography and style -- */
#hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 152% }
h3, h4 { font-size: 122%; }
h1, h2, h3, h4 { color: #333; }
p { font-size: 100%; line-height: 18px; padding-right: 3em; }
a { color: #990003 }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
li { line-height: 24px; border-bottom: 1px solid #ccc; }
p.enlarge { font-size: 144%; padding-right: 6.5em; line-height: 24px; }
p.enlarge span { color: #000 }
.contact-info { margin-top: 7px; }
.first h2 { font-style: italic; }
.last { border-bottom: 0 }


/* //-- section styles -- */

a#pdf { display: block; float: left; background: #666; color: white; padding: 6px 50px 6px 12px; margin-bottom: 6px; text-decoration: none;  }
a#pdf:hover { background: #222; }

.job { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }
.job h4 { position: absolute; top: 0.35em; right: 0 }
.job p { margin: 0.75em 0 3em 0; }

.last { border: none; }
.skills-list {  }
.skills-list ul { margin: 0; }
.skills-list li { margin: 3px 0; padding: 3px 0; }
.skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }
.talent { width: 32%; float: left }
.talent h2 { margin-bottom: 6px; }

#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u{width:80.2%;}
.yui-gf div.first{width:12.3%;}



@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&disp');

.hide{
  display: none;
}

*
:root{
  --black:#444;
  /* --light-color:#777; */
  --bg-color:#e6e6e6;
  --border:.1rem solid rgba(0,0,0,.2);
  --box-shadow-t:.2rem .2rem 1rem #ccc,
              -.2rem -.2rem 1rem #fff;
  --box-shadow-t-inset:.4rem .4rem 1rem #ccc inset,
                    -.4rem -.4rem 1rem #fff inset;
  -webkit-box-shadow: -16px -14px 13px -2px rgba(0,0,0,0.66);
  -moz-box-shadow: -16px -14px 13px -2px rgba(0,0,0,0.66);
  box-shadow: -16px -14px 13px -2px rgba(0,0,0,0.66);

}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  /* box-sizing: border-box; */
  outline: none; border:none;
  /* text-decoration: none; */
  text-transform: capitalize;
  transition: .2s linear;
  
  /* background-color: white; */
  /* background: rgb(2,0,36); 
 background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(61,61,69,0.22762608461353295) 35%, rgba(142,162,135,1) 100%); */
}


.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
}
nav{
   position: fixed;
    width: 100vw;
    height: 70px;
    background-color: #DEDEDE;
    /* background: rgb(2,0,36); 
/* background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(61,61,69,0.22762608461353295) 35%, rgba(142,162,135,1) 100%); */
    transition: 0.2s;
    display: flex;
    box-shadow: var(--box-shadow-t);
    
}
nav ul {
  list-style: none;
  padding-top: 10px;
  margin: 0;
  overflow: hidden;
  background: transparent;
  /* display: flex; */
  /* display-direction: column; */
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  align-items: stretch;
}
nav ul li {
  padding-left:5px;
  display: inline-block; 
  vertical-align: top; 
  /* width: 100px; */
}
nav ul li a {
  width: 150px;
  line-height: 50px;
  text-decoration: none;
  color: rgb(2,0,36);
  }

.headerlogo{
  padding-bottom:5px;
    width:240px;
    height:70px;
    }

.navbar li a:hover {
  text-decoration: underline;
/* color: #fff; */
}
.floatingNav {
  width: calc(100vh - 100px); 
  border-radius: 2px;
  /* box-shadow: 0px 1px 10px #999; */
  box-shadow: var(--box-shadow-t);
}


nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: black;
}

nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: black;
  background: #333;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


.main-page{  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 0;
}

/* .section h2{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-transform: capitalize;
  text-shadow: 10px 10px 3px rgba(0,0,0, 0.2);
} */

#about_us{
  
}

.home {
  /* padding: 20px 0; */
  /* background-position: center; */
  background-size: cover;
  width:1519px;height:750px;
  /* position: relative; */
  background-image: url(https://fjwp.s3.amazonaws.com/blog/wp-content/uploads/2019/08/08165331/leadership-resume.png);
  height:100vh;
  background-repeat: no-repeat;
  z-index: -1;
  position: relative;

}

.dark_overlay {
  position:relative;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.65);
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index: -1;
}

.container2{
}

.header-txt {
      color: white;
}
.container2 h1 {
        font-size: 40px;
        color: white;
        text-transform:uppercase; 
      }
.container2 h3 {
        font-size: 24px;
        color: white;
        font-weight:300;
      }
.container2 p {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
}

.get_started{
  z-index: 999999;
  position: absolute;
}
/* .full-overlay a{
  margin-top: 30px;
  z-index: 1;
  text-align: center;
  
}


.full-overlay:after{
  background:rgba(0, 0, 0, 0.75);
} */

/* .btn{
  position: static;
  font-size: 1rem;
  font-weight: 300;
  z-index: 99999;

} */

#sample_templates{
 /* background-color: #1a1a1a; */
background-color:#DEDEDE;
/* background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(61,61,69,0.22762608461353295) 35%, rgba(142,162,135,1) 100%);  */
}

.display-area {
  /* position: absolute; */
  width: 1200px;
/*   border: 1px solid black; */
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 110px;
}

.choose_template{
  /* padding-top: 700px; */
  /* background-color: blue; */
  display: flex;
  color: black;
  /* margin-top: 100px; */
  /* border: 1px solid #ccc; */
    justify-content: center;

}

h1{
  font-size: 60px;
  text-align: center;
}

.card {
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 40px;
  margin: 20px;
  margin-top: 60px;
  -webkit-box-shadow: -16px -14px 13px -2px rgba(0,0,0,0.66);
-moz-box-shadow: -16px -14px 13px -2px rgba(0,0,0,0.66);
box-shadow: -16px -14px 13px -2px rgba(0,0,0,0.66);


  flex: 200px 0 0;
}
.cards img {
    width: 100%;
    object-fit: cover;
}



.cards-wrapper {
  display: flex; 
  transition: ease 0.5s;
}


.dots-wrapper {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  /* margin-left:0px; */
  margin-top: 50px;
}

.dot {
  border: none;
  background: rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  outline: none;
  display: flex;

}
.dot:hover {
  background: rgba(0, 0, 0, 0.3);
}
.dot.active {
  background: rgba(0, 0, 0, 0.5);
}



#steps_to_resume{
  background: linear-gradient(190deg, black,rgb(70, 70, 74), black);
}

.steps_to_build{
  /* padding-top: 700px; */
  /* background-color: blue; */
  /* display: flex; */
  margin-top: 100px;
  height: 80px;
  /* border: 1px solid #ccc; */
}

.steps_to_build h1{
  color: whitesmoke;
}

.flex-container {
  display: flex;
  justify-content: space-between; 
  align-items: stretch;
  max-width: 1180px;
  /* width: 1200px; */
  height: 400px;
  margin: 0 auto;
   margin-top: 90px;
  /* /* margin-left: 25px;  */
  /* background-color: aqua; */
}

.step-1,
.step-2,
.step-3{
  padding: 30px 40px;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 10px;
  display: flex; 
  flex-direction: column;
  flex: 1 1 33%;
}

.icon{
  font-size: 50px;
  margin-top: 7px;
  /* align-items: center; */
}

.step_no{
  align-self: center;
}
/* .i,
p.subtitle-flex {
  text-align: center;
  color: #707070;
  font-weight: 200;
} */

.subtitle-flex{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: black;
}
.step-1:hover,
.step-1:focus,
.step1:active,
.step-2:hover,
.step-2:focus,
.step-2:active,
.step-3:hover,
.step-3:focus,
.step-3:active
{
  /* text-decoration: none; */
  color: inherit;
  background-color: white;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
  transform: translateY(-4px);
}

.middle-text{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: gray;
}

/* #footer{
  background: #DEDEDE;
} */


@media (max-width: 768px) {
  .flex-container {
    display: block;
    width: 300px;
  }
.flex-container .base-wrap {
      top: auto;
      bottom: -24px;
      left: -18%;}

.flex-container .base-wrap .base {
        transform: rotate(180deg);
      }
    }
    a#login-button.button.logout.login.w-button {
      background-color: black;
      background-image: none;
      border-radius: 25px;
      border-width: 0;
      bottom: auto;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: block;
      flex: 1;
      float: right;
      font-family: Poppins, sans-serif;
      font-size: 12px;
      left: auto;
      letter-spacing: 1px;
      line-height: 19px;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 15px;
      padding: 5px 15px;
      position: absolute;
      right: 0;
      text-align: center;
      text-decoration: none;
      top: 0;
      transition: background-color 150ms;
      z-index: 30;
    }
     
    a#login-button.button.logout.login.w-button:active {
      outline: 0;
    }
     
    a#login-button.button.logout.login.w-button:hover {
      background-color: #2ac28f;
      font-weight: 400;
      outline: 0;
    }

    /*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
  background: #ff5f6d;
  background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  min-height: 100vh;
}

#button-addon1 {
  color: #ffc371;
}

i {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

















@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 5px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}

