@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&disp');

:root{
  --black:#444;
  /* --light-color:#777; */
  --bg-color:#e6e6e6;
  --border:.1rem solid rgba(0,0,0,.2);
  --box-shadow-t:.2rem .2rem 1rem #ccc,
              -.2rem -.2rem 1rem #fff;
  --box-shadow-t-inset:.4rem .4rem 1rem #ccc inset,
                    -.4rem -.4rem 1rem #fff inset;
  -webkit-box-shadow: -16px -14px 13px -2px rgba(0,0,0,0.66);
  -moz-box-shadow: -16px -14px 13px -2px rgba(0,0,0,0.66);
  box-shadow: -16px -14px 13px -2px rgba(0,0,0,0.66);

}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  /* box-sizing: border-box; */
  outline: none; border:none;
  /* text-decoration: none; */
  text-transform: capitalize;
  transition: .2s linear;
  
  /* background-color: white; */
  /* background: rgb(2,0,36); 
 background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(61,61,69,0.22762608461353295) 35%, rgba(142,162,135,1) 100%); */
}


.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
}
nav{
   position: fixed;
    width: 100vw;
    height: 70px;
    background-color: #DEDEDE;
    /* background: rgb(2,0,36); 
/* background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(61,61,69,0.22762608461353295) 35%, rgba(142,162,135,1) 100%); */
    transition: 0.2s;
    display: flex;
    box-shadow: var(--box-shadow-t);
    
}
nav ul {
  list-style: none;
  padding-top: 10px;
  margin: 0;
  overflow: hidden;
  background: transparent;
  /* display: flex; */
  /* display-direction: column; */
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  align-items: stretch;
}
nav ul li {
  padding-left:5px;
  display: inline-block; 
  vertical-align: top; 
  /* width: 100px; */
}
nav ul li a {
  width: 150px;
  line-height: 50px;
  text-decoration: none;
  color: rgb(2,0,36);
  }

.headerlogo{
  padding-bottom:5px;
    width:240px;
    height:70px;
    }

.navbar li a:hover {
  text-decoration: underline;
/* color: #fff; */
}
.floatingNav {
  width: calc(100vh - 100px); 
  border-radius: 2px;
  /* box-shadow: 0px 1px 10px #999; */
  box-shadow: var(--box-shadow-t);
}


nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: black;
}

nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: black;
  background: #333;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


.main-page{  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 0;
}

/* .section h2{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-transform: capitalize;
  text-shadow: 10px 10px 3px rgba(0,0,0, 0.2);
} */

#about_us{
  
}

.home {
  /* padding: 20px 0; */
  /* background-position: center; */
  background-size: cover;
  width:1519px;height:750px;
  /* position: relative; */
  background-image: url(https://fjwp.s3.amazonaws.com/blog/wp-content/uploads/2019/08/08165331/leadership-resume.png);
  height:100vh;
  background-repeat: no-repeat;
  z-index: -1;
  position: relative;

}

.dark_overlay {
  position:relative;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.65);
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index: -1;
}

.container2{
}

.header-txt {
      color: white;
}
.container2 h1 {
        font-size: 40px;
        color: white;
        text-transform:uppercase; 
      }
.container2 h3 {
        font-size: 24px;
        color: white;
        font-weight:300;
      }
.container2 p {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
}

.get_started{
  z-index: 999999;
  position: absolute;
}
/* .full-overlay a{
  margin-top: 30px;
  z-index: 1;
  text-align: center;
  
}


.full-overlay:after{
  background:rgba(0, 0, 0, 0.75);
} */

/* .btn{
  position: static;
  font-size: 1rem;
  font-weight: 300;
  z-index: 99999;

} */

#sample_templates{
 /* background-color: #1a1a1a; */
background-color:#DEDEDE;
/* background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(61,61,69,0.22762608461353295) 35%, rgba(142,162,135,1) 100%);  */
}

.display-area {
  /* position: absolute; */
  width: 1200px;
/*   border: 1px solid black; */
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 110px;
}

.choose_template{
  /* padding-top: 700px; */
  /* background-color: blue; */
  display: flex;
  color: black;
  /* margin-top: 100px; */
  /* border: 1px solid #ccc; */
    justify-content: center;

}

h1{
  font-size: 60px;
  text-align: center;
}

.card {
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 40px;
  margin: 20px;
  margin-top: 60px;
  -webkit-box-shadow: -16px -14px 13px -2px rgba(0,0,0,0.66);
-moz-box-shadow: -16px -14px 13px -2px rgba(0,0,0,0.66);
box-shadow: -16px -14px 13px -2px rgba(0,0,0,0.66);


  flex: 200px 0 0;
}
.cards img {
    width: 100%;
    object-fit: cover;
}



.cards-wrapper {
  display: flex; 
  transition: ease 0.5s;
}


.dots-wrapper {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  /* margin-left:0px; */
  margin-top: 50px;
}

.dot {
  border: none;
  background: rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  outline: none;
  display: flex;

}
.dot:hover {
  background: rgba(0, 0, 0, 0.3);
}
.dot.active {
  background: rgba(0, 0, 0, 0.5);
}



#steps_to_resume{
  background: linear-gradient(190deg, black,rgb(70, 70, 74), black);
}

.steps_to_build{
  /* padding-top: 700px; */
  /* background-color: blue; */
  /* display: flex; */
  margin-top: 100px;
  height: 80px;
  /* border: 1px solid #ccc; */
}

.steps_to_build h1{
  color: whitesmoke;
}

.flex-container {
  display: flex;
  justify-content: space-between; 
  align-items: stretch;
  max-width: 1180px;
  /* width: 1200px; */
  height: 400px;
  margin: 0 auto;
   margin-top: 90px;
  /* /* margin-left: 25px;  */
  /* background-color: aqua; */
}

.step-1,
.step-2,
.step-3{
  padding: 30px 40px;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 10px;
  display: flex; 
  flex-direction: column;
  flex: 1 1 33%;
}

.icon{
  font-size: 50px;
  margin-top: 7px;
  /* align-items: center; */
}

.step_no{
  align-self: center;
}
.i,
p.subtitle-flex {
  text-align: center;
  color: #707070;
}

.step-1:hover,
.step-1:focus,
.step1:active,
.step-2:hover,
.step-2:focus,
.step-2:active,
.step-3:hover,
.step-3:focus,
.step-3:active
{
  text-decoration: none;
  color: inherit;
  background-color: white;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
  transform: translateY(-4px);
}

/* #footer{
  background: #DEDEDE;
} */


@media (max-width: 768px) {
  .flex-container {
    display: block;
    width: 300px;
  }
.flex-container .base-wrap {
      top: auto;
      bottom: -24px;
      left: -18%;}

.flex-container .base-wrap .base {
        transform: rotate(180deg);
      }
    }


















@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&disp');

:root{
  --black:#444;
  /* --light-color:#777; */
  --bg-color:#e6e6e6;
  --border:.1rem solid rgba(0,0,0,.2);
  --box-shadow:.2rem .2rem 1rem #ccc,
              -.2rem -.2rem 1rem #fff;
  --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                    -.4rem -.4rem 1rem #fff inset;
  --box-big-shadow:.2rem .2rem 1rem #ccc,
              -.2rem -.2rem 1rem #fff;
  ---box-big-shadow-inset:.4rem .4rem 1rem #ccc inset,
             -.4rem -.4rem 1rem #fff inset;
}
*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  /* text-decoration: none; */
  text-transform: capitalize;
  transition: .2s linear;
  background-color: white;
}

section{
  min-height: 100vh;
  padding:2rem;
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(61,61,69,0.22762608461353295) 35%, rgba(142,162,135,1) 100%); ;
}

.contact form{
  margin:1rem auto;
  max-width: 60rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  padding:2rem;
}

/* .contact form .input-box{
  padding:1rem 1.5rem;
  width:100%;
  background: none;
  color:var(--black);
  font-size: 1.6rem;
  text-transform: none;
  margin:.7rem 0;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
} */

.contact form textarea{
  height: 10rem;
  resize: none;
}

.details {
  font-size: 15;
  font-family:'Poppins', sans-serif ;
  font-weight: 200;
}
/* .contact form .input-box:focus{
  box-shadow: var(--box-shadow-inset);
} */

.contact form .box{
  padding:1rem 1.5rem;
  width:30%;
  background: none;
  color:var(--black);
  font-size: 1.6rem;
  text-transform: none;
  margin:.7rem 0;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

.contact form .box-big{
  padding:1rem 1.5rem;
  width:70%;
  background: none;
  color:var(--black);
  font-size: 1.6rem;
  text-transform: none;
  margin:.7rem 0;
  box-shadow: var(--box-big-shadow);
  border-radius: .5rem;
}

.contact form .box-small{
  padding:1rem 1.5rem;
  width:25%;
  background: none;
  color:var(--black);
  font-size: 0.75rem;
  text-transform: none;
  margin:.7rem 0;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

.contact form .box:focus{
  box-shadow: var(--box-shadow-inset);
}

.contact form .box-big:focus{
  box-shadow: var(--box-big-shadow-inset);
}

.form__container .details {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}

.contact .title{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.form__container .details_edu {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:1rem 3.5rem;
  border-radius: .5rem;
  font-size: 1.7rem;
  cursor: pointer;
  background:radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(61,61,69,0.22762608461353295) 0%, rgba(142,162,135,1) 50%);
  color:var(--black);
  box-shadow: var(--box-shadow);
}

.btn:hover{
  box-shadow: var(--box-shadow-inset);
  color:black;
}

.remove_field{
  text-decoration: none;
}

/* * {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  align-items: center;
}

:root {
  --primary-color:rgb(112, 114, 219);
  --secondery-color: linear-gradient(25deg, rgb(47, 38, 208) 0%, rgb(160, 160, 206) 35%, rgb(0, 136, 255) 100%);
  --shadow-color: #9d9fb3
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(112, 114, 219);
  background: var(--secondery-color);
}

.form__container {
  margin-top: 15rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-left: 10rem;
  width: 65%;
  align-self: center;
  border: black;
}

.user-details{
  justify-content: center;
  align-items: center;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:var(--primary-color);
}

.user-details .input-box input{
  height: 45px;
  width: 60%;
  outline: none;
  border-radius:5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px; 
  border-bottom-width:2px;
  transition: all 0.3s ease;
}

.user-details .input-box-edu input{
  height: 45px;
  width: 30%;
  outline: none;
  border-radius:5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px; 
  border-bottom-width:2px;
  transition: all 0.3s ease;
}

.user-details .input-box-edu input:focus,
.user-details .input-box-edu input:valid{
    border-color:var(--primary-color);
} */

.btn-small{
  margin-top: 1rem;
  display: inline-block;
  padding:0.8rem 1.5rem;
  border-radius: .5rem;
  font-size: 0.9rem;
  cursor: pointer;
  background:radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(61,61,69,0.22762608461353295) 0%, rgba(142,162,135,1) 50%);
  color:var(--black);
  box-shadow: var(--box-shadow);
}

.btn-small:hover{
  box-shadow: var(--box-shadow-inset);
  color:black;
}

